# Build
/dist/
/build/
/target/

# GlassFish
/gfdeploy/

# IDE
/.idea/
/nbproject/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db
/EZMart_Supermarket_Management-war/dist/
/EZMart_Supermarket_Management-ejb/build/
/EZMart_Supermarket_Management-ejb/dist/
/EZMart_Supermarket_Management-war/build/
